body{
    background-color: antiquewhite;
}

header {
    width: 750px;
    height: 250px;
    /* margin: 10px; */
    border-style: dashed ;
    border-radius: 20px;
    background-color: rgba(203, 195, 195, 0.483);
    text-align: center;
    line-height: 12px;
}

header img{
    margin-top: 10px;
    border-radius: 100%;
}

section{
    width: 320px;
    height: 250px;
    border-style: dashed ;
    border-radius: 20px;
    background-color: rgba(203, 195, 195, 0.483);
    padding-left: 5px;
    line-height: 20px;
}

div#body{
    margin: 10px;
    border: 1px solid;
    border-radius: 15px;
    background-color: rgba(203, 195, 195, 0.483);
    padding-left: 5px;
}

div#project{
    margin: 10px;
    border: 1px solid;
    border-radius: 15px;
    background-color: rgba(203, 195, 195, 0.483);
    padding-left: 5px;
}

td{
    padding: 10px;
}

iframe{
    border: 1px solid ;
    border-radius: 10px;
    width: 350px;
    height: 200px;
}

